
body {
    background-color: #999;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 0;
}
a:link, a:visited {
    color: #3d509e;
}
a:hover {
    color: #940202;
}
p {
    color: #333;
    font-size: 12px;
    line-height: 21px;
    margin: 8px 0 0;
    padding: 8px 5px 0;
}
h2, h3 {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    text-align: center;
}
#top_container {
    background-color: #000080;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 950px;
}
.home_link {
    color: #fff;
    font-size: 11px;
    height: 23px;
    margin: 0 0 0 15px;
    padding: 7px 0 0;
    position: absolute;
    text-align: left;
    width: 200px;
}
.breadcrumb_links {
    color: #fff;
    font-size: 11px;
    height: 23px;
    left: 535px;
    margin: 0;
    padding: 7px 0 0;
    position: relative;
    text-align: right;
    top: 0;
    width: 400px;
    word-spacing: 4px;
}
.home_link a, .breadcrumb_links a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
.home_link a:hover, .breadcrumb_links a:hover {
    color: #cfd8fd;
}
#NIC_header {
    background-color: #000080;
    height: 110px;
    margin: 0 auto;
    position: relative;
    width: 950px;
}
#menu1 ul {
    color: #0f0f75;
    margin-left: 0;
    text-align: left;
}
#menu1 li {
    float: left;
    list-style-type: none;
    text-align: left;
    width: 17.7em;
}
#menu1 a {
    background-color: #ccccff;
    border: 3px inset #0f0f75;
    color: #0f0f75;
    display: block;
    text-decoration: none;
}
#menu1 a:hover {
    border: 5px inset #0000ff;
    color: #0f0f75;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}
#menu1 a:link {
    color: #0f0f75;
}
