
.menu {
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
#menu a:hover {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
#menu a:link {
    color: #fff;
}
.menu ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
.menu ul a:hover, .menu li:hover a {
    font-size: 18px;
    font-weight: bold;
}
.menu li {
    color: #000099;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 157px;
}
.menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: underline;
}
.menu li a:hover, .menu li:hover a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.menu_left {
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
.menu_left ul {
    height: 50px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
.menu_left ul a:hover, .menu li:hover a {
    color: #330000;
    font-size: 18px;
    font-weight: bold;
}
.menu_left li {
    color: #3d509e;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 237.5px;
}
.menu_left li a {
    color: #3d509e;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}
.menu_left li a:hover, .menu li:hover a {
    color: #3d509e;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.menu_leftp {
    border: medium none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
.menu_leftp ul {
    height: 50px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
.menu_leftp ul a:hover, .menu li:hover a {
    color: #330000;
    font-size: 12px;
    font-weight: bold;
}
.menu_leftp li {
    color: #3d509e;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 237.5px;
}
.menu_leftp li a {
    color: #3d509e;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}
.menu_leftp li a:hover, .menu li:hover a {
    color: #330000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.menu ul ul {
    background: none repeat scroll 0 0 #808080;
    border: 0 none;
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 200px;
    z-index: 99999;
}
.menu li li:hover {
    background: none repeat scroll 0 0 #5f5f5f;
}
.menu ul li:hover > ul, ul ul li:hover > ul {
    display: block;
}
.menu ul ul ul {
    display: none;
    left: 200px;
}
.menu li li li:hover {
    background: none repeat scroll 0 0 #808080;
}
.menu li:hover li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.menu ul ul li {
    color: #ffffff;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 200px;
}
.menu li ul a {
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    margin: 0;
    padding: 0 10px 0 15px;
    text-align: left;
}
.menu ul ul li a, ul ul li a:hover {
    background: none repeat scroll 0 0 #5f5f5f;
    border: 0 none;
    color: #fff;
    text-decoration: none;
    width: 175px;
}
.menu li li:hover ul {
    display: block;
}
.menu li li li a {
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 12px;
    margin: 0;
    padding: 5px 10px 0;
    text-align: left;
    text-decoration: none;
    text-indent: 5px;
}
.menu li li li a:hover {
    border: 0 none;
    color: #ffffff;
    padding: 5px 10px 0;
    text-decoration: underline;
    text-indent: 5px;
}
.menu p {
    clear: left;
}
.nolink-item {
    border: 0 none;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 10px 10px 5px 15px;
}
.separator {
    border-bottom: 1px solid #8b8b8b;
    margin-bottom: 2px;
    padding-top: 2px;
}
